name: Discord Webhook Workflow

on: [push]

jobs:
  test-webhook:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord Test Message
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          username: "Yogurtname"
          avatar-url: "https://www.farawaymoon.com/wp-content/uploads/sideshow-logo.png"
          embed-title: "{{ commit.title }}"
          embed-description: "{{ commit.description }}"
          embed-color: ${{ secrets.EMBED_COLOR }}
          embed-timestamp: "{{ commit.timestamp }}"
