name: Discord Webhook Workflow
on:
  push:
    branches: [ main ]

jobs:
  postcommitmessage:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Commits
        uses: Sniddl/discord-commits@v1.3
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          username: "shot in the dark"
          avatar_url: "https://www.farawaymoon.com/wp-content/uploads/faraway-moon-logo.png"
          embed: '{
            "title": "{{ commit.title }}",
            "description": "{{ commit.description }}",
            "url": "{{ commit.url }}",
            "color": "${{ secrets.EMBED_COLOR }}",
            "author": {
              "name": "{{ commit.author.username }}",
              "url": "https://github.com/{{ commit.author.username }}",
              "icon_url": "https://github.com/{{ commit.author.username }}.png"
            },
            "timestamp": "{{ commit.timestamp }}",
            "thumbnail": {
            "url": "${{ secrets.EMBED_ICON }}"
            }
            }'