name: Discord Webhook Workflow
on:
  push:
    branches: [ main ]

jobs:
  postcommitmessage:
    runs-on: ubuntu-latest
    steps:
      - name: Discord Commits
        uses: Nico15037/discord-commits@main
        with:
          username: ${{ secrets.DISCORD_USERNAME }}
          avatar_url: "https://www.farawaymoon.com/wp-content/uploads/stranded-starship-cover-dx.png"
          webhook: ${{ secrets.DISCORD_WEBHOOK }}
          embed: '{
            "title": "{{ commit.title }}",
            "description": "{{ commit.description }}",
            "url": "{{ commit.url }}",
            "color": "${{ secrets.EMBED_COLOR }}",
            "author": {
              "name": "{{ commit.author.username }}",
              "url": "https://github.com/{{ commit.author.username }}",
              "icon_url": "https://github.com/{{ commit.author.username }}.png"
            },
            "timestamp": "{{ commit.timestamp }}",
            "thumbnail": {
            "url": "${{ secrets.EMBED_ICON }}"
            }}'