name: Discord Webhook Workflow

on:
  push:
    branches: [ main ]

jobs:
  test-webhook:
    runs-on: ubuntu-latest

    steps:
      - name: Discord notification
        uses: Ilshidur/action-discord@master
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_USERNAME: "THEY'RE ABOUT TO KNOW"
          DISCORD_AVATAR: "https://www.farawaymoon.com/wp-content/uploads/fancy-discord-github-commits-guide-cover.png"
        with:
          args: "WHO THEY'RE DEALING WITH"
