name: Discord Test Webhook

on: [push]

jobs:
  test-webhook:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord Test Message
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          username: "Yonsernayme"
          avatar-url: "https://www.farawaymoon.com/wp-content/uploads/sideshow-logo.png"
          embed-title: "crawlingtitle"
          embed-description: "innnndescmyskinnnn"
          embed-color: 5814783
          embed-timestamp: "2025-12-25T00:00:00Z"
