name: Discord Test Webhook

on: [push]

jobs:
  test-webhook:
    runs-on: ubuntu-latest

    steps:
      - name: Send Discord Test Message
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          username: "paws that actually worked"
          avatar-url: "https://www.farawaymoon.com/wp-content/uploads/space-trip-logo.png"
          content: "yo."
