name: Discord Test

on: [push]

jobs:
  test-webhook:
    runs-on: ubuntu-latest
    steps:
      - name: Test Discord Webhook
        uses: tsickert/discord-webhook@v7.0.0
        with:
          webhook-url: ${{ secrets.DISCORD_WEBHOOK }}
          content: "bruh"
